h4 {
    font-family: trebuchet ms;
}

label {
    font-family: trebuchet ms;
}

input[type=text] {
    padding: 10px 12px;
    margin: 8px;
    box-sizing: border-box;
    border: 2px solid #00acee;
    border-radius: 4px;
    font-family: trebuchet ms;
}

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 13px 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: trebuchet ms;
}

input[type=submit]:hover {
    background-color: #009900;
    border: none;
    color: white;
    padding: 13px 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: trebuchet ms;
}

.sidenav {
    height: 100%;
    width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eee;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: trebuchet ms;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-btn:hover {
    color: #00acee;
}

.dropdown-container {
    display: none;
    background-color: #eee;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.main {
    margin-left: 300px;
    padding: 0px 10px;
}

.slider-amount {
    text-align: center;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}