h2, h4, label, #scatter-form {
    font-family: trebuchet ms;
}

span {
    font-family: trebuchet ms;
    font-size: 13px;
    font-style: italic;
    color: #009900;
}

p {
    font-family: trebuchet ms;
    font-size: 13px;
}

input[type=text] {
    padding: 8px 10px;
    margin: 8px;
    box-sizing: border-box;
    border: 2px solid #00acee;
    border-radius: 4px;
    font-family: trebuchet ms;
}

.slider-amount1, .slider-amount2, .slider-amount3, .slider-amount4 {
    text-align: center;
    width: 85px;
}

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: trebuchet ms;
}

input[type=submit]:hover {
    background-color: #009900;
    border: none;
    color: white;
    padding: 12px 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: trebuchet ms;
}

.sidenav {
    height: 100%;
    width: 320px;
    overflow-x: hidden;
    min-width: 150px;
    max-width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eee;
    padding-top: 20px;
    word-wrap: break-word;
}

.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: trebuchet ms;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-btn:hover {
    color: #00acee;
}

.dropdown-container {
    display: none;
    background-color: #eee;
    padding-left: 8px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    max-width: 200px;
    height: auto;
    padding: 2px;
    font: 12px arial;
    background: #ece6e4;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    text-align: center;
}

.main {
    margin-left: 300px;
    padding: 0px 10px;
}

.scatter-container {
    margin: auto;
    width: 900px;
    height: 500px;
}

.svg-plot, .canvas-plot {
    position: absolute;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

div.ui-slider-range.ui-widget-header {
    background-color: #00acee;
}

#slider-range2 {
    width: 280px;
    display: inline-block;
}

#summarycontainer {
    position:relative;
    left:350px;
    height:600px;
}
#twittercontainer {
    position: absolute;
    left: 925px;
    overflow: auto;
    width: 475px;
    height: 550px;
    right:25px;
    top:0px;
    border: 5px solid #00acee;
}

#pieChart {
    position:absolute;
    margin-top:75px;
    margin-bottom: 50px;
}

#sentimentChart {
    position:absolute;
    left:375px;
}

#interactionChart {
    position:absolute;
    top:320px;
    left:375px;
}

.title {
    font-family: Verdana;
    font-size: 15px;

}
.slice {
    font-size: 10pt;
    font-family: Verdana;
    fill: black;
font-weight: bold;
}

.axis text {
    font-family: Verdana;
    font-size: 11px;
}

.title {
    font-family: Verdana;
    font-size: 15px;

}

.xAxis {
    font-family: verdana;
    font-size: 11px;
    fill: black;
}

.yAxis {
    font-family: verdana;
    font-size: 11px;
    fill: white;
}

ul[role='tablist'],
ul[role='tablist'] li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul[role='tablist'] {
  margin-bottom: -1px;
}

ul[role='tablist']:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}

ul[role='tablist'] li {
  display: block;
  float: left;
  position: relative;
  z-index: 1;
  margin-right: .25rem;
}

ul[role='tablist'] li a {
  font-weight: bold;
  text-decoration: none;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: block;
  background: #f9f9f9;
  padding: .25rem .5rem;

  border-color: #999;
  border-style: solid;
  border-width: 1px;
}

ul[role='tablist'] li a[aria-selected='true'] {
  border-bottom-color: #f9f9f9;
}

section[role='tabpanel'] {
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #999;
  background: #f9f9f9;
  padding: .5rem;
  margin-bottom: 1rem;
}


#clear {
    background-color: #00acee;
}